Repository tajo/ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,css,scss,postcss,md,json}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
    "*.{js,ts,tsx}": "eslint"
}

Add a query params doc
  packages/website/docs/query-parameters.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix the test
  e2e/addons/tests/query-parameters.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add query parameters to sidebars.js
  packages/website/sidebars.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add an e2e test about query parameters (#521)
  e2e/addons/tests/query-parameters.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add --noWatch option to serve command
  packages/ladle/lib/cli/cli.js
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add changeset
  .changeset/itchy-peas-repeat.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix types and docs
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/website/docs/cli.md
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add --noWatch option to serve command (#523)
  .changeset/itchy-peas-repeat.md
  packages/ladle/lib/cli/cli.js
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/website/docs/cli.md
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#525)
  .changeset/itchy-peas-repeat.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

export meta with named exports
  packages/ladle/tests/parse/__snapshots__/get-entry-data.test.ts.snap
Due: none

export rest of files to export meta
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/cli/vite-plugin/generate/get-meta-json.js
  packages/ladle/lib/cli/vite-plugin/parse/get-entry-data.js
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add in msw export
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add types
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

disable hmr when fs watch is disabled
  packages/ladle/lib/cli/vite-dev.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add changeset
  .changeset/afraid-starfishes-fail.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Disable HMR when --noWatch flag is passed to serve command (#529)
  .changeset/afraid-starfishes-fail.md
  packages/ladle/lib/cli/vite-dev.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#530)
  .changeset/afraid-starfishes-fail.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

review changes
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/cli/vite-plugin/generate/get-meta-json.js
  packages/ladle/lib/cli/vite-plugin/parse/get-entry-data.js
  packages/ladle/lib/shared/types.ts
  packages/ladle/tests/__snapshots__/get-meta-json.test.ts.snap
  packages/ladle/tests/get-meta-json.test.ts
  packages/ladle/tests/parse/__snapshots__/get-entry-data.test.ts.snap
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix hello.spec.ts test
  e2e/programmatic/tests/hello.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

export getEntryData as api
  packages/ladle/api/getEntryData.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

change exports
  e2e/decorators/tests/params.spec.ts
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

make getMeta public
  e2e/programmatic/get-meta.js
  e2e/programmatic/package.json
  packages/ladle/api/getEntryData.js
  packages/ladle/api/meta.js
  packages/ladle/lib/cli/get-meta.js
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add test and remove viteProd
  e2e/programmatic/get-meta.js
  e2e/programmatic/tests/hello.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove viteProd
  packages/ladle/lib/cli/get-meta.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

rename to better test case name for getMeta export
  e2e/programmatic/tests/hello.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Create shy-vans-punch.md
  .changeset/shy-vans-punch.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

remove getMetaJson from exports
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Export meta (#528)
  .changeset/shy-vans-punch.md
  e2e/decorators/tests/params.spec.ts
  e2e/programmatic/get-meta.js
  e2e/programmatic/package.json
  e2e/programmatic/tests/hello.spec.ts
  packages/ladle/api/meta.js
  packages/ladle/lib/cli/get-meta.js
  packages/ladle/lib/cli/vite-plugin/generate/get-meta-json.js
  packages/ladle/package.json
  packages/ladle/tests/__snapshots__/get-meta-json.test.ts.snap
  packages/ladle/tests/get-meta-json.test.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#531)
  .changeset/shy-vans-punch.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

remove console log from synchronize-head
  packages/ladle/lib/app/src/synchronize-head.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove console log from synchronize-head (#532)
  packages/ladle/lib/app/src/synchronize-head.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Upgrade to Vite5, MDX3 and all other deps as well
  .changeset/fifty-crews-live.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/lib/cli/vite-plugin/mdx-to-stories.js
  packages/ladle/lib/cli/vite-plugin/vite-plugin.js
  packages/ladle/package.json
  packages/ladle/tests/mdx-to-stories.test.ts
  packages/website/docs/config.md
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix MSW
  .changeset/fifty-crews-live.md
  e2e/msw/src/posts.stories.tsx
  e2e/msw/src/todos.stories.tsx
  packages/ladle/lib/app/src/msw.tsx
  packages/ladle/lib/app/window.d.ts
  packages/ladle/lib/cli/copy-msw-worker.js
  packages/ladle/lib/cli/vite-base.js
  packages/website/docs/msw.mdx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix msw/browser mock
  packages/ladle/lib/cli/vite-base.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

FIx snapshot test
  packages/ladle/tests/__snapshots__/mdx-to-stories.test.ts.snap
Due: none

Upgrade to Vite5, MDX3 and all other deps as well (#533)
  .changeset/fifty-crews-live.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/msw/src/posts.stories.tsx
  e2e/msw/src/todos.stories.tsx
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/lib/app/src/msw.tsx
  packages/ladle/lib/app/window.d.ts
  packages/ladle/lib/cli/copy-msw-worker.js
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/lib/cli/vite-plugin/mdx-to-stories.js
  packages/ladle/lib/cli/vite-plugin/vite-plugin.js
  packages/ladle/package.json
  packages/ladle/tests/__snapshots__/mdx-to-stories.test.ts.snap
  packages/ladle/tests/mdx-to-stories.test.ts
  packages/website/docs/config.md
  packages/website/docs/msw.mdx
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#534)
  .changeset/fifty-crews-live.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: ladle.css leaks on @reach/dialog (#535)
  .changeset/real-dingos-remain.md
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/ui.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: ladle.css leaks on @reach/dialog (#535) (#537)
  .changeset/real-dingos-remain.md
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/ui.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#538)
  .changeset/real-dingos-remain.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.
