Repository tajo/ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,css,scss,postcss,md,json}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
    "*.{js,ts,tsx}": "eslint"
}

Add meta.mockDates so users can fix/mock dates for testing
  .changeset/selfish-suns-tie.md
  e2e/decorators/src/mock-date.stories.tsx
  e2e/decorators/tests/mock-date.spec.ts
  e2e/decorators/tests/params.spec.ts
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/app/src/mock-date.ts
  packages/ladle/lib/app/src/story.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add meta.mockDates so users can fix/mock dates for testing (#486)
  .changeset/selfish-suns-tie.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  e2e/decorators/src/mock-date.stories.tsx
  e2e/decorators/tests/mock-date.spec.ts
  e2e/decorators/tests/params.spec.ts
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/app/src/mock-date.ts
  packages/ladle/lib/app/src/story.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Improve support for CSS in JS libs, add test for BaseWeb
  e2e/baseweb/.ladle/components.tsx
  e2e/baseweb/package.json
  e2e/baseweb/playwright.config.ts
  e2e/baseweb/src/hello.stories.tsx
  e2e/baseweb/tests/hello.spec.ts
  e2e/baseweb/vite.config.js
  package.json
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/app/src/synchronize-head.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: Ladle with Next.js App Router
  packages/website/docs/decorators.md
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix `stories` Config type
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Export Config type
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use exported Config type in docs
  packages/website/docs/config.md
  packages/website/docs/width.mdx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Export `UserConfig` instead of `Config`
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use `UserConfig` instead of `Config` in docs
  packages/website/docs/config.md
  packages/website/docs/width.mdx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Export `UserConfig` type and use it in docs (#494)
  packages/ladle/lib/app/exports.ts
  packages/website/docs/config.md
  packages/website/docs/width.mdx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Improve support for CSS in JS libs, add test for BaseWeb (#488)
  e2e/baseweb/.ladle/components.tsx
  e2e/baseweb/package.json
  e2e/baseweb/playwright.config.ts
  e2e/baseweb/src/hello.stories.tsx
  e2e/baseweb/tests/hello.spec.ts
  e2e/baseweb/vite.config.js
  package.json
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/app/src/synchronize-head.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Don't use CSS transform for sidebar chevrons
  .changeset/angry-gorillas-train.md
  packages/ladle/lib/app/src/icons.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Mention providers to wrap all stories with next's router
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Don't use CSS transform for sidebar chevrons (#495)
  .changeset/angry-gorillas-train.md
  packages/ladle/lib/app/src/icons.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Support and CI test node v18 and v20
  .github/workflows/ci.yml
  CONTRIBUTING.md
  package.json
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Support and CI test node v18 and v20 (#497)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  package.json
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Bump all deps
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Downgrade remark-gfm
  package.json
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Bump all deps (#498)
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Document common css-in-js setups
  packages/website/docs/css.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

WIP: blog
  packages/website/blog/2023-09-18-ladle-v3.md
  packages/website/docs/babel.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Document MDX and mock date
  .changeset/giant-paws-grab.md
  packages/website/docs/mdx.mdx
  packages/website/docs/mock-date.mdx
  packages/website/sidebars.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: For next.js settings by Providers
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: For next.js settings by Providers (#499)
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Blogpost
  packages/website/blog/2023-09-18-ladle-v3.md
  packages/website/blog/2023-09-19-ladle-v3.md
  packages/website/docs/swc.md
  packages/website/sidebars.js
  packages/website/static/img/build-times.png
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Document MDX and mock date (#492)
  .changeset/giant-paws-grab.md
  packages/website/blog/2023-09-19-ladle-v3.md
  packages/website/docs/babel.md
  packages/website/docs/css.md
  packages/website/docs/mdx.mdx
  packages/website/docs/mock-date.mdx
  packages/website/docs/swc.md
  packages/website/sidebars.js
  packages/website/static/img/build-times.png
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#487)
  .changeset/angry-gorillas-train.md
  .changeset/eight-cobras-add.md
  .changeset/giant-paws-grab.md
  .changeset/gold-falcons-flash.md
  .changeset/kind-fans-smoke.md
  .changeset/large-lions-sip.md
  .changeset/lemon-waves-learn.md
  .changeset/selfish-suns-tie.md
  .changeset/serious-owls-shop.md
  .changeset/sour-geckos-shop.md
  .changeset/thick-comics-provide.md
  .changeset/tiny-weeks-grow.md
  .changeset/violet-carrots-train.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
  packages/website/CHANGELOG.md
  packages/website/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Typo in 2023-09-19-ladle-v3.md
  packages/website/blog/2023-09-19-ladle-v3.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix docs on default width
  packages/website/docs/width.mdx
Due: none

Fix docs on default width (#501)
  packages/website/docs/width.mdx
Due: none

Switch rotated chevron icon
  packages/ladle/lib/app/src/icons.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Create cuddly-students-destroy.md
  .changeset/cuddly-students-destroy.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Switch rotated chevron icon (#503)
  .changeset/cuddly-students-destroy.md
  packages/ladle/lib/app/src/icons.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

WIP msw
  packages/example/.ladle/config.mjs
  packages/ladle/lib/app/src/msw.tsx
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/cli/vite-prod.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add out-of-the-box support for msw and API mocking
  .changeset/large-buses-help.md
  .gitignore
  e2e/msw/.gitignore
  e2e/msw/.ladle/config.mjs
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/msw/playwright.config.ts
  e2e/msw/public/posts.json
  e2e/msw/public/todos.json
  e2e/msw/src/posts.stories.tsx
  e2e/msw/src/todos.stories.tsx
  e2e/msw/src/utils.ts
  e2e/msw/tests/posts.spec.ts
  e2e/msw/tests/todos.spec.ts
  e2e/msw/vite.config.js
  package.json
  packages/example/.ladle/config.mjs
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/app/src/compose-enhancers.tsx
  packages/ladle/lib/app/src/msw.tsx
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/app/window.d.ts
  packages/ladle/lib/cli/copy-msw-worker.js
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix snaps
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
Due: none

Typo
  e2e/msw/vite.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
