Repository tajo/ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add new hotkeys for quicker navigation and addons
  .changeset/sour-ties-talk.md
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/addon-panel.tsx
  packages/ladle/lib/app/src/addons/a11y.tsx
  packages/ladle/lib/app/src/addons/control.tsx
  packages/ladle/lib/app/src/addons/ladle.tsx
  packages/ladle/lib/app/src/addons/mode.tsx
  packages/ladle/lib/app/src/addons/rtl.tsx
  packages/ladle/lib/app/src/addons/source.tsx
  packages/ladle/lib/app/src/addons/theme.tsx
  packages/ladle/lib/app/src/addons/width.tsx
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/app/src/get-config.ts
  packages/ladle/lib/app/src/reducer.ts
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/cli/load-config.js
  packages/ladle/lib/cli/vite-plugin/generate/get-config-import.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/ladle/package.json
  packages/website/docs/config.md
  packages/website/docs/hotkeys.mdx
  packages/website/sidebars.js
  packages/website/static/img/hotkeys.png
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

typo
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update snap tests
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
Due: none

fix tests
  e2e/addons/tests/hello.spec.ts
  e2e/swc/tests/hello.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add new hotkeys for quicker navigation and addons (#468)
  .changeset/sour-ties-talk.md
  e2e/addons/tests/hello.spec.ts
  e2e/swc/tests/hello.spec.ts
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/addon-panel.tsx
  packages/ladle/lib/app/src/addons/a11y.tsx
  packages/ladle/lib/app/src/addons/control.tsx
  packages/ladle/lib/app/src/addons/ladle.tsx
  packages/ladle/lib/app/src/addons/mode.tsx
  packages/ladle/lib/app/src/addons/rtl.tsx
  packages/ladle/lib/app/src/addons/source.tsx
  packages/ladle/lib/app/src/addons/theme.tsx
  packages/ladle/lib/app/src/addons/width.tsx
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/app/src/get-config.ts
  packages/ladle/lib/app/src/reducer.ts
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/cli/load-config.js
  packages/ladle/lib/cli/vite-plugin/generate/get-config-import.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/ladle/package.json
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
  packages/website/docs/config.md
  packages/website/docs/hotkeys.mdx
  packages/website/sidebars.js
  packages/website/static/img/hotkeys.png
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#469)
  .changeset/sour-ties-talk.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/flow/CHANGELOG.md
  e2e/flow/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  e2e/swc/CHANGELOG.md
  e2e/swc/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Increase chunk size warning limit
  .changeset/mighty-rabbits-hope.md
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/cli/vite-prod.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Increase chunk size warning limit (#470)
  .changeset/mighty-rabbits-hope.md
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/cli/vite-prod.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#471)
  .changeset/mighty-rabbits-hope.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/flow/CHANGELOG.md
  e2e/flow/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  e2e/swc/CHANGELOG.md
  e2e/swc/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Global hotkeys should work from inside of the iframe as well.
  .changeset/young-wolves-rule.md
  packages/example/src/iframe-two.stories.tsx
  packages/ladle/lib/app/src/addons/theme.tsx
  packages/ladle/lib/app/src/redirect-events.ts
  packages/ladle/lib/app/src/story.tsx
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Global hotkeys should work from inside of the iframe as well. (#472)
  .changeset/young-wolves-rule.md
  packages/example/src/iframe-two.stories.tsx
  packages/ladle/lib/app/src/addons/theme.tsx
  packages/ladle/lib/app/src/redirect-events.ts
  packages/ladle/lib/app/src/story.tsx
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#473)
  .changeset/young-wolves-rule.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/flow/CHANGELOG.md
  e2e/flow/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  e2e/swc/CHANGELOG.md
  e2e/swc/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

uses hasDisabledReactPlugin setting to actually disable react plug
  packages/ladle/lib/cli/vite-base.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

(feat): adds option to disable default vite pugin-react
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/shared/types.ts
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

adds changeset
  .changeset/wise-rice-ring.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

adds a recipe for preact use
  packages/website/docs/preact.md
  packages/website/sidebars.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add nextjs env file handling to docs
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add nextjs env file handling to docs (#475)
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fixed the type of the ArgType (#441)
  .changeset/kind-fans-smoke.md
  packages/ladle/lib/app/exports.ts
  type-tests/argTypes.test.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Preserve number type for controls (includes select, radio...)
  .changeset/sour-geckos-shop.md
  e2e/addons/src/controls.stories.tsx
  e2e/addons/tests/controls.spec.ts
  packages/ladle/lib/app/src/addons/control.tsx
  packages/ladle/lib/cli/vite-dev.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Preserve number type for controls (includes select, radio...) (#478)
  .changeset/sour-geckos-shop.md
  e2e/addons/src/controls.stories.tsx
  e2e/addons/tests/controls.spec.ts
  packages/ladle/lib/app/src/addons/control.tsx
  packages/ladle/lib/cli/vite-dev.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Changes Meta from a type to an interface (#442)
  .changeset/eight-cobras-add.md
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Convert StoryDefault type into interface, add hotkeys into Meta type, relax type of Meta.width
  .changeset/lemon-waves-learn.md
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Convert StoryDefault type into interface, add hotkeys into Meta type, relax type of Meta.width (#479)
  .changeset/lemon-waves-learn.md
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump vite-react-plugin to v4
  .changeset/tiny-weeks-grow.md
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump vite-react-plugin to v4 (#480)
  .changeset/tiny-weeks-grow.md
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use react-plugin-swc as the default, bump to the latest version
  .changeset/gold-falcons-flash.md
  e2e/babel/.ladle/config.mjs
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/babel/playwright.config.ts
  e2e/babel/src/README.md
  e2e/babel/src/context.tsx
  e2e/babel/src/docs.stories.mdx
  e2e/babel/src/hello.stories.tsx
  e2e/babel/src/mdx.stories.mdx
  e2e/babel/tests/docs.spec.ts
  e2e/babel/tests/hello.spec.ts
  e2e/babel/tests/mdx.spec.ts
  e2e/babel/vite.config.js
  package.json
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Remove flow e2e tests, not supported anymore
  e2e/flow/CHANGELOG.md
  e2e/flow/package.json
  e2e/flow/playwright.config.ts
  e2e/flow/src/flow-types.js
  e2e/flow/src/hello.stories.js
  e2e/flow/strip-flow.mjs
  e2e/flow/tests/hello.spec.ts
  e2e/flow/vite.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Use react-plugin-swc as the default, bump to the latest version (#481)
  .changeset/gold-falcons-flash.md
  e2e/babel/.ladle/config.mjs
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/babel/playwright.config.ts
  e2e/babel/src/README.md
  e2e/babel/src/context.tsx
  e2e/babel/src/docs.stories.mdx
  e2e/babel/src/hello.stories.tsx
  e2e/babel/src/mdx.stories.mdx
  e2e/babel/tests/docs.spec.ts
  e2e/babel/tests/hello.spec.ts
  e2e/babel/tests/mdx.spec.ts
  e2e/babel/vite.config.js
  e2e/flow/CHANGELOG.md
  e2e/flow/playwright.config.ts
  e2e/flow/src/flow-types.js
  e2e/flow/src/hello.stories.js
  e2e/flow/strip-flow.mjs
  e2e/flow/tests/hello.spec.ts
  e2e/flow/vite.config.mjs
  e2e/swc/package.json
  package.json
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Inline react-frame-component
  .changeset/large-lions-sip.md
  packages/ladle/lib/app/src/iframe/content.tsx
  packages/ladle/lib/app/src/iframe/context.tsx
  packages/ladle/lib/app/src/iframe/frame.tsx
  packages/ladle/lib/app/src/iframe/index.ts
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump all deps
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/lib/app/src/index.tsx
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/package.json
  packages/website/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Inline react-frame-component (#482)
  .changeset/large-lions-sip.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/lib/app/src/iframe/content.tsx
  packages/ladle/lib/app/src/iframe/context.tsx
  packages/ladle/lib/app/src/iframe/frame.tsx
  packages/ladle/lib/app/src/iframe/index.ts
  packages/ladle/lib/app/src/index.tsx
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/package.json
  packages/website/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add better styling for both markdown and MDX elements everywhere
  .changeset/serious-owls-shop.md
  packages/example/src/docs.stories.mdx
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add better styling for both markdown and MDX elements everywhere (#483)
  .changeset/serious-owls-shop.md
  packages/example/src/docs.stories.mdx
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Set tab-size to 2 for the source code addon
  .changeset/thick-comics-provide.md
  packages/ladle/lib/app/ladle.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Set tab-size to 2 for the source code addon (#484)
  .changeset/thick-comics-provide.md
  packages/ladle/lib/app/ladle.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update to Node v20
  .changeset/violet-carrots-train.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Remove vercel.json
  vercel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update to Node v20 (#485)
  .changeset/violet-carrots-train.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  packages/ladle/package.json
  pnpm-lock.yaml
  vercel.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  eslint: any of: *.{js,ts,tsx}
