Repository tajo/ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix mockServiceWorker base url, reexport browser/node APIs
  .changeset/honest-beans-flash.md
  e2e/msw/src/posts.stories.tsx
  e2e/msw/src/todos.stories.tsx
  packages/ladle/api/msw-node.js
  packages/ladle/lib/app/src/msw.tsx
  packages/ladle/package.json
  packages/website/docs/msw.mdx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix mockServiceWorker base url, reexport browser/node APIs (#539)
  .changeset/honest-beans-flash.md
  e2e/msw/src/posts.stories.tsx
  e2e/msw/src/todos.stories.tsx
  packages/ladle/api/msw-node.js
  packages/ladle/lib/app/src/msw.tsx
  packages/ladle/package.json
  packages/website/docs/msw.mdx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump everything
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Bump everything (#541)
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Version Packages (#540)
  .changeset/honest-beans-flash.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix typo in HttpResponse
  packages/website/docs/msw.mdx
Due: none

Fix typo in HttpResponse (#542)
  packages/website/docs/msw.mdx
Due: none

Fix spelling of "below"
  packages/website/blog/2023-09-19-ladle-v3.md
  packages/website/docs/decorators.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add commas
  packages/website/docs/decorators.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix typos in documentation (#546)
  packages/website/blog/2023-09-19-ladle-v3.md
  packages/website/docs/decorators.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update all dependencies
  .changeset/old-lemons-jump.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update vitest snaps (no escaping)
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
  packages/ladle/tests/__snapshots__/get-meta-json.test.ts.snap
  packages/ladle/tests/__snapshots__/mdx-to-stories.test.ts.snap
  packages/ladle/tests/parse/__snapshots__/get-entry-data.test.ts.snap
Due: none

Update all dependencies (#551)
  .changeset/old-lemons-jump.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/ladle/package.json
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
  packages/ladle/tests/__snapshots__/get-meta-json.test.ts.snap
  packages/ladle/tests/__snapshots__/mdx-to-stories.test.ts.snap
  packages/ladle/tests/parse/__snapshots__/get-entry-data.test.ts.snap
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Version Packages (#552)
  .changeset/old-lemons-jump.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Allow stories exported in export blocks
  .changeset/breezy-rice-run.md
  packages/ladle/lib/cli/vite-plugin/parse/get-named-exports.js
  packages/ladle/tests/parse/get-named-exports.test.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add monorepo example package
  packages/example-monorepo/.ladle/config.mjs
  packages/example-monorepo/CHANGELOG.md
  packages/example-monorepo/package.json
  packages/example-monorepo/package1/src/README.md
  packages/example-monorepo/package1/src/a11y.stories.tsx
  packages/example-monorepo/package1/src/control.stories.tsx
  packages/example-monorepo/package1/src/controls.stories.tsx
  packages/example-monorepo/package1/src/docs.stories.mdx
  packages/example-monorepo/package1/src/iframe-two.stories.tsx
  packages/example-monorepo/package1/src/iframe.stories.tsx
  packages/example-monorepo/package1/src/mdx.stories.mdx
  packages/example-monorepo/package1/src/my-dup-stories.stories.tsx
  packages/example-monorepo/package1/src/not-related.ts
  packages/example-monorepo/package1/src/syntax.ts
  packages/example-monorepo/package2/src/README.md
  packages/example-monorepo/package2/src/my-dup-stories.stories.tsx
  packages/example-monorepo/package2/src/my-story--sec.stories.tsx
  packages/example-monorepo/package2/src/my-story--sub.stories.tsx
  packages/example-monorepo/package2/src/my-story.stories.tsx
  packages/example-monorepo/package2/src/ok-so.stories.tsx
  packages/example-monorepo/package2/src/query-parameters.stories.tsx
  packages/example-monorepo/package2/src/storyname.stories.tsx
  packages/example-monorepo/package2/src/syntax.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add option to disable http2 when using https
  .changeset/blue-spies-destroy.md
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add option to disable http2 when using https (#562)
  .changeset/blue-spies-destroy.md
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add hmrHost and hmrPort to the ladle config
  .changeset/witty-lizards-jog.md
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update all deps, node, pnpm and github actions
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  package.json
  packages/example/package.json
  packages/ladle/package.json
  packages/website/docs/troubleshooting.md
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix eslint
  .eslintrc.json
  eslint.config.mjs
  package.json
  packages/ladle/lib/app/src/args-provider.tsx
  packages/ladle/lib/app/src/dialog.tsx
  packages/ladle/lib/app/src/error-boundary.tsx
  packages/ladle/lib/app/src/history.ts
  packages/ladle/lib/app/src/no-stories-error.tsx
  packages/ladle/lib/app/src/reducer.ts
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Update all deps, node, pnpm and github actions (#564)
  .devcontainer/Dockerfile
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  eslint.config.mjs
  package.json
  packages/example/package.json
  packages/ladle/lib/app/src/args-provider.tsx
  packages/ladle/lib/app/src/dialog.tsx
  packages/ladle/lib/app/src/error-boundary.tsx
  packages/ladle/lib/app/src/history.ts
  packages/ladle/lib/app/src/no-stories-error.tsx
  packages/ladle/lib/app/src/reducer.ts
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  packages/ladle/package.json
  packages/website/docs/troubleshooting.md
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add hmrHost and hmrPort to the ladle config (#558)
  .changeset/witty-lizards-jog.md
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Allow stories exported in export blocks (#556)
  .changeset/breezy-rice-run.md
  packages/ladle/lib/cli/vite-plugin/parse/get-named-exports.js
  packages/ladle/tests/parse/get-named-exports.test.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#563)
  .changeset/blue-spies-destroy.md
  .changeset/breezy-rice-run.md
  .changeset/witty-lizards-jog.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
  packages/website/CHANGELOG.md
  packages/website/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update Next.js runtime library imports
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update Next.js runtime library imports (#565)
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Adds types for meta.json
  packages/ladle/lib/cli/vite-plugin/generate/get-meta-json.js
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Adds .nvmrc file with project node version
  .nvmrc
Due: none

Adds optional generic to MetaJson types for story meta
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Adds changeset
  .changeset/dirty-zoos-jam.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Updates pnpm/action-setup to v4 in ci workflow
  .github/workflows/ci.yml
Due: none

Updates pnpm/action-setup to v4 in ci workflow (#570)
  .github/workflows/ci.yml
Due: none

Adds .nvmrc file with project node version (#567)
  .nvmrc
Due: none

Makes the MetaJsonStory.meta type more strict
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Automatically disable http2 when Vite proxy is used
  .changeset/silver-elephants-hug.md
  packages/ladle/lib/cli/vite-dev.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Automatically disable http2 when Vite proxy is used (#571)
  .changeset/silver-elephants-hug.md
  packages/ladle/lib/cli/vite-dev.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Adds MetaJson types (#568)
  .changeset/dirty-zoos-jam.md
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/cli/vite-plugin/generate/get-meta-json.js
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#572)
  .changeset/dirty-zoos-jam.md
  .changeset/silver-elephants-hug.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix non-scrollable side nav in latest Chrome
  .changeset/long-lies-add.md
  packages/ladle/lib/app/ladle.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  eslint: any of: *.{js,ts,tsx}
