Repository tajo/ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Version Packages (#611)
  .changeset/grumpy-seas-drum.md
  .changeset/spotty-wombats-look.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write, prettier --check

fix: use defaultValue only if value is undefined
  packages/example/src/controls.stories.tsx
  packages/ladle/lib/app/src/args-provider.tsx
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Create tame-crews-sing.md
  .changeset/tame-crews-sing.md
Due: prettier --write, prettier --check

feat: upgrade rn version and fix native first resolution issue
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  packages/example/package.json
  packages/ladle/lib/cli/metro-base.js
  packages/ladle/lib/cli/metro-prod.js
  pnpm-lock.yaml
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

feat: fix mdx transformation issue
  packages/ladle/lib/cli/vite-plugin/mdx-to-stories.js
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

chore: add changeset
  .changeset/weak-ducks-doubt.md
Due: prettier --write, prettier --check

chore: fix the lock file
  pnpm-lock.yaml
Due: none

chore: make linter work
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check

test: fix tests
  e2e/addons/tests/a11y.spec.ts
  e2e/addons/tests/docs.spec.ts
  e2e/babel/tests/docs.spec.ts
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

fix: release script
  release.sh
Due: none

fix: use defaultValue only if value is undefined (#613)
  .changeset/tame-crews-sing.md
  packages/example/src/controls.stories.tsx
  packages/ladle/lib/app/src/args-provider.tsx
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Version Packages (#614)
  .changeset/tame-crews-sing.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write, prettier --check

implement Symbol.hasInstance for MockDate
  packages/ladle/lib/app/src/mock-date.ts
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Update docusaurus.config.js
  packages/website/docusaurus.config.js
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Added support for custom prism themes in source addon
  packages/example/.ladle/config.mjs
  packages/ladle/lib/app/src/addons/source.tsx
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

added changeset
  .changeset/swift-rivers-buy.md
Due: prettier --write, prettier --check

updated website docs for source addon
  packages/website/docs/source.mdx
Due: none

Update docusaurus.config.js (#618)
  packages/website/docusaurus.config.js
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Added support for custom prism themes in source addon (#619)
  .changeset/swift-rivers-buy.md
  packages/example/.ladle/config.mjs
  packages/ladle/lib/app/src/addons/source.tsx
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
  packages/website/docs/source.mdx
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Fix instanceof implementation for mocked Dates (#616)
  .changeset/warm-ladybugs-admire.md
  e2e/decorators/src/mock-date.stories.tsx
  e2e/decorators/tests/mock-date.spec.ts
  e2e/decorators/tests/params.spec.ts
  packages/ladle/lib/app/src/mock-date.ts
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Fix instanceof implementation for mocked Dates (#616) (#616)
  .changeset/warm-ladybugs-admire.md
  e2e/decorators/src/mock-date.stories.tsx
  e2e/decorators/tests/mock-date.spec.ts
  e2e/decorators/tests/params.spec.ts
  packages/ladle/lib/app/src/mock-date.ts
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Version Packages (#620)
  .changeset/swift-rivers-buy.md
  .changeset/warm-ladybugs-admire.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write, prettier --check

fix: edge cases due to koa-connect
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/cli/vite-plugin/connect-to-koa.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Refactor to replace koa-connect with custom middleware
  .changeset/smart-pandas-leave.md
Due: prettier --write, prettier --check

refactor: replace koa-connect with custom middleware adapter (#622)
  .changeset/smart-pandas-leave.md
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/cli/vite-plugin/connect-to-koa.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Version Packages (#624)
  .changeset/smart-pandas-leave.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write, prettier --check

Fix Chokidar watch so Story add or remove is picked up
  .changeset/fix-story-watching-chokidar-v4.md
  packages/ladle/lib/cli/story-watcher.js
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/tests/story-watcher.test.ts
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Normalise path separators to fix Windows fails
  packages/ladle/lib/cli/story-watcher.js
  packages/ladle/tests/story-watcher.test.ts
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Remove duplicated STORY_FILE_REGEX + use picomatch.scan().base for basepath
  packages/ladle/lib/cli/story-watcher.js
  packages/ladle/package.json
  packages/ladle/tests/story-watcher.test.ts
  pnpm-lock.yaml
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Update changelog to reflect changes
  .changeset/fix-story-watching-chokidar-v4.md
Due: prettier --write, prettier --check

fix: remove ts-ignore comments and add proper types for dialog components
  packages/ladle/lib/app/src/ui.tsx
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

fix: remove ts-ignore comments and add proper types for dialog components (#626)
  packages/ladle/lib/app/src/ui.tsx
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

chore: upgrade react-inspector to v9.0.0
  packages/ladle/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, prettier --check

chore: add changeset for react-inspector upgrade
  .changeset/upgrade-react-inspector.md
Due: prettier --write, prettier --check

feat: Metro 0.83 and React Native 0.83 compatibility
  .changeset/metro-083-compat.md
  e2e/addons/package.json
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  packages/example/metro.config.js
  packages/example/package.json
  packages/ladle/lib/app/src/dev-core/asyncRequire.js
  packages/ladle/lib/cli/metro-prod.js
  packages/ladle/lib/cli/runServer-fork.js
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

fix: add quotes to hmrHost config example
  packages/website/docs/config.md
Due: prettier --write, prettier --check

fix(app): support CSF v3 stories in composeEnhancers (#602)
  .changeset/csf-v3-support.md
  e2e/csf3/package.json
  e2e/csf3/playwright.config.ts
  e2e/csf3/src/csf-v3.stories.tsx
  e2e/csf3/tests/csf-v3.spec.ts
  e2e/csf3/vite.config.js
  package.json
  packages/ladle/lib/app/src/compose-enhancers.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

fix(parse): unwrap TSSatisfiesExpression in named-identifier default-export init
  .changeset/parse-tssatisfies-named-default-export.md
  packages/ladle/lib/cli/vite-plugin/parse/get-default-export.js
  packages/ladle/tests/parse/get-default-export.test.ts
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Add changeset for #626 dialog component types fix
  .changeset/proper-dialog-component-types.md
Due: prettier --write, prettier --check

chore: upgrade Ladle to Vite 8
  .changeset/violet-trees-jam.md
  e2e/babel/package.json
  package.json
  packages/ladle/lib/app/src/story.tsx
  packages/ladle/lib/cli/vite-plugin/mdx-plugin.js
  packages/ladle/lib/cli/vite-plugin/vite-plugin.js
  packages/ladle/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, prettier --check, eslint --max-warnings=0 --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  prettier --check: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  eslint --max-warnings=0 --fix: any of: *.{js,ts,tsx}
