Repository tajo/ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,css,scss,postcss,md,json}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
    "*.{js,ts,tsx}": "eslint"
}

Fix non-scrollable side nav in latest Chrome (#576)
  .changeset/long-lies-add.md
  packages/ladle/lib/app/ladle.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Version Packages (#577)
  .changeset/long-lies-add.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Preserve query on toggling full page preview, add better types
  .changeset/witty-terms-end.md
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add some exports
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add changeset
  .changeset/something-something.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

more exports
  .changeset/something-something.md
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Improve UnoptimizedImage docs
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Adding overflow to side menu
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Adding changeset
  .changeset/rare-kangaroos-play.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add expandStoryTree config flag
  .changeset/gold-students-doubt.md
  e2e/config/.ladle/config.mjs
  e2e/config/tests/expand-story-tree.spec.ts
  e2e/config/tests/hello.spec.ts
  packages/example/.ladle/config.mjs
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  packages/ladle/lib/cli/vite-plugin/generate/get-config-import.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Preserve query on toggling full page preview, add better types (#581)
  .changeset/witty-terms-end.md
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Adds App UI and Types to exports (#582)
  .changeset/something-something.md
  packages/ladle/lib/app/exports.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Improve UnoptimizedImage docs (#583)
  packages/website/docs/nextjs.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add expandStoryTree config flag (#587)
  .changeset/gold-students-doubt.md
  e2e/config/.ladle/config.mjs
  e2e/config/tests/expand-story-tree.spec.ts
  e2e/config/tests/hello.spec.ts
  packages/example/.ladle/config.mjs
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  packages/ladle/lib/cli/vite-plugin/generate/get-config-import.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump all deps
  .changeset/famous-actors-obey.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .lintstagedrc
  e2e/addons/package.json
  e2e/addons/tests/query-parameters.spec.ts
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  eslint.config.mjs
  package.json
  packages/example/package.json
  packages/ladle/lib/app/src/args-provider.tsx
  packages/ladle/lib/app/src/iframe/frame.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  packages/ladle/lib/app/src/synchronize-head.tsx
  packages/ladle/lib/cli/copy-msw-worker.js
  packages/ladle/lib/cli/open-browser.js
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/cli/vite-prod.js
  packages/ladle/package.json
  packages/website/blog/2022-03-15-introducing-ladle.md
  packages/website/blog/2022-06-09-ladle-v1.md
  packages/website/blog/2022-08-08-visual-snapshots.md
  packages/website/blog/2023-09-19-ladle-v3.md
  packages/website/blog/authors.yml
  packages/website/docs/providers.md
  packages/website/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Bump all deps (#591)
  .changeset/famous-actors-obey.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .lintstagedrc
  e2e/addons/package.json
  e2e/addons/tests/query-parameters.spec.ts
  e2e/babel/package.json
  e2e/baseweb/package.json
  e2e/config-ts/package.json
  e2e/config/package.json
  e2e/css/package.json
  e2e/decorators/package.json
  e2e/msw/package.json
  e2e/playwright-config/package.json
  e2e/playwright/package.json
  e2e/programmatic/package.json
  e2e/provider/package.json
  eslint.config.mjs
  package.json
  packages/example/package.json
  packages/ladle/lib/app/src/args-provider.tsx
  packages/ladle/lib/app/src/iframe/frame.tsx
  packages/ladle/lib/app/src/sidebar/tree-view.tsx
  packages/ladle/lib/app/src/synchronize-head.tsx
  packages/ladle/lib/cli/copy-msw-worker.js
  packages/ladle/lib/cli/open-browser.js
  packages/ladle/lib/cli/vite-dev.js
  packages/ladle/lib/cli/vite-prod.js
  packages/ladle/package.json
  packages/website/blog/2022-03-15-introducing-ladle.md
  packages/website/blog/2022-06-09-ladle-v1.md
  packages/website/blog/2022-08-08-visual-snapshots.md
  packages/website/blog/2023-09-19-ladle-v3.md
  packages/website/blog/authors.yml
  packages/website/docs/providers.md
  packages/website/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix release workflow
  .github/workflows/release.yml
Due: none

Change demo link
  README.md
  packages/ladle/README.md
  packages/website/src/pages/index.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#588)
  .changeset/famous-actors-obey.md
  .changeset/gold-students-doubt.md
  .changeset/something-something.md
  .changeset/witty-terms-end.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
  packages/website/CHANGELOG.md
  packages/website/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: enable parsing TITLE string const export as fallback to default export, for story title
  packages/ladle/lib/cli/vite-plugin/parse/get-entry-data.js
  packages/ladle/lib/cli/vite-plugin/parse/get-title-export.js
  packages/ladle/tests/fixtures/title-constant.stories.tsx
  packages/ladle/tests/parse/get-entry-data.test.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: prevent TITLE from being parsed as a story
  packages/ladle/lib/cli/vite-plugin/parse/get-named-exports.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix some React imports (tsc fix)
  .changeset/forty-rice-rescue.md
  packages/ladle/lib/app/src/addon-panel.tsx
  packages/ladle/lib/app/src/compose-enhancers.tsx
  packages/ladle/lib/app/src/ui.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix some React imports (tsc fix) (#594)
  .changeset/forty-rice-rescue.md
  packages/ladle/lib/app/src/addon-panel.tsx
  packages/ladle/lib/app/src/compose-enhancers.tsx
  packages/ladle/lib/app/src/ui.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#595)
  .changeset/forty-rice-rescue.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

WIP: Add latest changes
  packages/ladle/lib/cli/deps/lodash.groupby.js
  packages/ladle/lib/cli/vite-plugin/generate/get-config-import.js
  packages/ladle/lib/cli/vite-plugin/vite-plugin.js
  packages/ladle/lib/shared/types.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Upgrade koa to 2.15.4
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update koa to fix vulnerability
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update actions/upload to v4
  .github/workflows/ci.yml
Due: none

Generate changeset file
  .changeset/spotty-wombats-look.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Note on powershell in quick start
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: update fetching in useEffect to use an async function
  packages/website/docs/msw.mdx
Due: none

add failing test
  e2e/addons/tests/docs.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix mdx code blocks throwing errors in dev console
  packages/ladle/lib/app/src/addons/source.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add changeset
  .changeset/grumpy-seas-drum.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: update fetching in useEffect to use an async function (#607)
  packages/website/docs/msw.mdx
Due: none

Update github actions
  .github/workflows/ci.yml
Due: none

Update github actions (#610)
  .github/workflows/ci.yml
Due: none

Note on powershell in quick start (#604)
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Fix mdx code blocks throwing errors in dev console (#609)
  .changeset/grumpy-seas-drum.md
  e2e/addons/tests/docs.spec.ts
  packages/ladle/lib/app/src/addons/source.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix koa vulnerability - Update to 2.15.4 (#600)
  .changeset/spotty-wombats-look.md
  .github/workflows/ci.yml
  packages/ladle/package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.
