Repository tajo/ladle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix externalization of disabled msw and axe-core
  packages/ladle/lib/cli/empty-module.js
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/cli/vite-prod.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix
  packages/ladle/lib/cli/vite-base.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add support for MSW and API mocking (#505)
  .changeset/large-buses-help.md
  .gitignore
  e2e/msw/.gitignore
  e2e/msw/.ladle/config.mjs
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/msw/playwright.config.ts
  e2e/msw/public/posts.json
  e2e/msw/public/todos.json
  e2e/msw/src/posts.stories.tsx
  e2e/msw/src/todos.stories.tsx
  e2e/msw/src/utils.ts
  e2e/msw/tests/posts.spec.ts
  e2e/msw/tests/todos.spec.ts
  e2e/msw/vite.config.js
  package.json
  packages/example/.ladle/config.mjs
  packages/ladle/lib/app/exports.ts
  packages/ladle/lib/app/src/compose-enhancers.tsx
  packages/ladle/lib/app/src/msw.tsx
  packages/ladle/lib/app/window.d.ts
  packages/ladle/lib/cli/copy-msw-worker.js
  packages/ladle/lib/cli/empty-module.js
  packages/ladle/lib/cli/vite-base.js
  packages/ladle/lib/shared/default-config.js
  packages/ladle/lib/shared/types.ts
  packages/ladle/package.json
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: Be usable non-ladle query params
  packages/example/src/query-parameters.stories.tsx
  packages/ladle/lib/app/src/history.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: move the query parameters example to e2e
  e2e/addons/src/query-parameters.stories.tsx
  e2e/addons/tests/query-parameters.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

refactor: Remove unnecessary await
  e2e/addons/tests/a11y.spec.ts
  e2e/addons/tests/action.spec.ts
  e2e/addons/tests/background.spec.ts
  e2e/addons/tests/controls.spec.ts
  e2e/addons/tests/hello.spec.ts
  e2e/addons/tests/source.spec.ts
  e2e/addons/tests/width.spec.ts
  e2e/baseweb/tests/hello.spec.ts
  e2e/decorators/tests/args.spec.ts
  e2e/provider/tests/hello.spec.ts
  e2e/provider/tests/hmr.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

refactor: Remove unnecessary await (#508)
  e2e/addons/tests/a11y.spec.ts
  e2e/addons/tests/action.spec.ts
  e2e/addons/tests/background.spec.ts
  e2e/addons/tests/controls.spec.ts
  e2e/addons/tests/hello.spec.ts
  e2e/addons/tests/source.spec.ts
  e2e/addons/tests/width.spec.ts
  e2e/baseweb/tests/hello.spec.ts
  e2e/decorators/tests/args.spec.ts
  e2e/provider/tests/hello.spec.ts
  e2e/provider/tests/hmr.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: e2e tests
  e2e/addons/tests/query-parameters.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add click the menu and open the story case to e2e tests
  e2e/addons/tests/query-parameters.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

remove unnecessary awaits
  e2e/addons/tests/width.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

add e2e test tips to docs
  CONTRIBUTING.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix docs
  CONTRIBUTING.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

add e2e test tips to docs (#510)
  CONTRIBUTING.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

remove unnecessary awaits (#509)
  e2e/addons/tests/width.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix react-dom/client breaking dev
  packages/ladle/lib/cli/vite-base.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix react-dom/client breaking dev (#511)
  packages/ladle/lib/cli/vite-base.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

docs: fix typo
  packages/website/docs/controls.mdx
Due: none

docs: fix typo (#512)
  packages/website/docs/controls.mdx
Due: none

Add .mdx into the default story glob
  .changeset/fuzzy-trains-fail.md
  e2e/addons/.ladle/config.mjs
  e2e/babel/.ladle/config.mjs
  packages/example/.ladle/config.mjs
  packages/ladle/lib/shared/default-config.js
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix snap
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
Due: none

Add .mdx into the default story glob (#513)
  .changeset/fuzzy-trains-fail.md
  e2e/addons/.ladle/config.mjs
  e2e/babel/.ladle/config.mjs
  packages/example/.ladle/config.mjs
  packages/ladle/lib/shared/default-config.js
  packages/ladle/tests/__snapshots__/get-generated-list.test.ts.snap
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add docs for MSW
  packages/website/docs/a11y.mdx
  packages/website/docs/addons.md
  packages/website/docs/config.md
  packages/website/docs/msw.mdx
  packages/website/sidebars.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add docs for MSW (#514)
  packages/website/docs/a11y.mdx
  packages/website/docs/addons.md
  packages/website/docs/config.md
  packages/website/docs/msw.mdx
  packages/website/sidebars.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#504)
  .changeset/cuddly-students-destroy.md
  .changeset/fuzzy-trains-fail.md
  .changeset/large-buses-help.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add resetParams to updateStory
  packages/example/src/query-parameters.stories.tsx
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/app/src/history.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: Be usable non-ladle query params (#506)
  e2e/addons/src/query-parameters.stories.tsx
  e2e/addons/tests/query-parameters.spec.ts
  packages/example/src/query-parameters.stories.tsx
  packages/ladle/lib/app/src/app.tsx
  packages/ladle/lib/app/src/history.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Make the side navigation resizeable and remember it
  .changeset/flat-seahorses-camp.md
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/local-storage.tsx
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/cli/build.js
  packages/ladle/lib/cli/get-app-id.js
  packages/ladle/lib/cli/serve.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Add docs, fix bug in query params not removing args
  e2e/addons/tests/query-parameters.spec.ts
  packages/example/src/control.stories.tsx
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/history.ts
  packages/ladle/lib/app/src/icons.tsx
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/utils.ts
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Typo
  packages/example/src/control.stories.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Fix reversed styles
  packages/ladle/lib/app/ladle.css
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Make the side navigation resizeable and remember it (#517)
  .changeset/flat-seahorses-camp.md
  e2e/addons/tests/query-parameters.spec.ts
  packages/ladle/lib/app/ladle.css
  packages/ladle/lib/app/src/history.ts
  packages/ladle/lib/app/src/icons.tsx
  packages/ladle/lib/app/src/local-storage.tsx
  packages/ladle/lib/app/src/sidebar/main.tsx
  packages/ladle/lib/app/src/sidebar/utils.ts
  packages/ladle/lib/cli/build.js
  packages/ladle/lib/cli/get-app-id.js
  packages/ladle/lib/cli/serve.js
  packages/website/docs/config.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#518)
  .changeset/flat-seahorses-camp.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Remove console.log
  .changeset/six-numbers-lay.md
  packages/ladle/lib/cli/copy-msw-worker.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Version Packages (#519)
  .changeset/six-numbers-lay.md
  e2e/addons/CHANGELOG.md
  e2e/addons/package.json
  e2e/babel/CHANGELOG.md
  e2e/babel/package.json
  e2e/baseweb/CHANGELOG.md
  e2e/baseweb/package.json
  e2e/config-ts/CHANGELOG.md
  e2e/config-ts/package.json
  e2e/config/CHANGELOG.md
  e2e/config/package.json
  e2e/css/CHANGELOG.md
  e2e/css/package.json
  e2e/decorators/CHANGELOG.md
  e2e/decorators/package.json
  e2e/msw/CHANGELOG.md
  e2e/msw/package.json
  e2e/playwright/CHANGELOG.md
  e2e/playwright/package.json
  e2e/programmatic/CHANGELOG.md
  e2e/programmatic/package.json
  e2e/provider/CHANGELOG.md
  e2e/provider/package.json
  packages/example/CHANGELOG.md
  packages/example/package.json
  packages/ladle/CHANGELOG.md
  packages/ladle/package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update addons.md
  packages/website/docs/addons.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update troubleshooting.md
  packages/website/docs/troubleshooting.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update setup.mdx
  packages/website/docs/setup.mdx
Due: none

Update 2023-09-19-ladle-v3.md
  packages/website/blog/2023-09-19-ladle-v3.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Add an e2e test to query parameters
  e2e/addons/tests/query-parameters.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,tsx,css,scss,postcss,md,json}
  eslint: any of: *.{js,ts,tsx}
